/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-spinner {
    position: relative;
    margin-left: 50%;
    margin-top: 15%;
    transform: translateX(-50%)
}

body {
  margin: 0;
}